<header>
  <nav [style.background-color]="navbarBackground" [style.height]="height" [ngClass]="{'white-navbar': white_navbar}" class="navbar navbar-default">
      <div class="navbar-inner container">
          <div class="navbar-header">
              <a id='app-header' class='navbar-brand' routerLink="/">
                <img src="assets/images/misc/twin-moon-logo.svg" />
              </a>
          </div>
          <button id="navbarToggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapsible" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div id="navbarCollapsible" class="pull-right navbar-collapse collapse">
              <ul id="nav-list" class="nav navbar-nav">
                  <li id="navHomeButton" routerLinkActive="isactive" class="navbarItem">
                      <a routerLink="/artworks" class="navbarItem">
                        Artworks
                      </a>
                  </li>
                  <li id="navMenuButton" routerLinkActive="isactive" class="navbarItem">
                      <a routerLink="/shop">
                           Shop
                      </a>
                  </li>
                  <li routerLinkActive="isactive" class="navbarItem">
                      <a routerLink="/news">
                        News
                      </a>
                  </li>
                  <li (click)="print()" routerLinkActive="isactive" class="navbarItem">
                      <a routerLink="/contact-us">
                          Contact Us
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</header>
<router-outlet></router-outlet>
